body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #2d3e50;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    color: #2d3e50;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
}

section#about {
    background-color: #e3f2fd;
}

section#services, section#research, section#projects {
    background-color: #f1f8e9;
}

footer {
    background-color: #2d3e50;
    color: #fff;
    text-align: center;
    padding: 10px;
/*     position: fixed; */
    bottom: 0;
    width: 100%;
}
